.comment_lidiWrap{
    width: 200px;
    height: 50px;
    /*padding: 25px;*/
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

.comment_likeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
}

.comment_disLikeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
    background-position: -48px;
}

.comment_setLikeButton{
    background-position: -24px;
}

.comment_setDisLikeButton{
    background-position: -72px;
}


