.lidiWrap{
    background: rgb(233, 229, 229);
    width: 200px;
    height: 50px;
    padding: 25px;
    margin-left: 2.5vw;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    border-radius: 7.5%;
}

.likeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
}

.disLikeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
    background-position: -48px;
}

.setLikeButton{
    background-position: -24px;
}

.setDisLikeButton{
    background-position: -72px;
}

.lidiAndDeleteModifyWrapper{
    display: flex;
    justify-content: space-between;
}

.deleteButtonWrapper{
    display: inline-block;
    margin-right: 2.5vw
}

.lidiWrapWrapper{
    display: inline-block;
}

#button_custom1,#button_custom2, #button_custom3{
    height: 50px;
}


