.lidiWrap{
    background: rgb(233, 229, 229);
    width: 200px;
    height: 50px;
    padding: 25px;
    margin-left: 2.5vw;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

.likeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
}

.disLikeButton{
    width: 24px;
    height: 24px;
    background-image: url("../lidi.png");
    cursor: pointer;
    background-position: -48px;
}

.setLikeButton{
    background-position: -24px;
}

.setDisLikeButton{
    background-position: -72px;
}

