.post_background{
    width: 95%;
    /*height: 500px;*/
    border: 3px solid rgb(233, 229, 229);
    border-radius: 1%;
    /*overflow: auto;*/
    align-content: center;
    margin: auto;
}

.post_background_wrapper{
    margin-top:10px;
}

.post_profile_photo{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: tomato;
    display: inline-block;
}


.post_profile_wrapper{
    display: inline-block;
    padding-left : 5px;
}


.post_profile_time{
    font-size:0.9rem;
    color: #aeaeae;
}

.post_profile_info{
    padding : 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}


.post_content_img{
    max-width: 100%;
}

.post_content_text{
    padding-left : 7%;
    padding-right: 7%;
}

.post_content_img{
    padding : 7%;
}

.cash_wrapper{
    display: inline-block;
    font-size: 2em;
}
.cash {
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 10px;
}

.cash_emoji{
    display: inline-block;
    padding-bottom: 5px;
}

.post_profile_left{
    display: inline-block;
}

.post_background2{
    width: 95%;
    border: 3px solid rgb(233, 229, 229);
    border-radius: 3%;
    margin: auto;
    height:7.5vh;
    margin-bottom: 20px;
}

#postTitle{
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 0;
}
