<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
            name="viewport"
            content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"
    />
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/navbar2.css" rel="stylesheet">
    <link href="/css/sample.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
    <link href="/css/post2.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="/css/lidi.css" rel="stylesheet">
    <link href="/css/comment_lidi.css" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        function getCookie(cookie_name) {
            var x, y;
            var val = document.cookie.split(';');
            for (var i = 0; i < val.length; i++) {
                x = val[i].substr(0, val[i].indexOf('='));
                y = val[i].substr(val[i].indexOf('=') + 1);
                x = x.replace(/^\s+|\s+$/g, '');
                // 앞과 뒤의 공백 제거하기
                if (x == cookie_name) {
                    return y;
                    // unescape로 디코딩 후 값 리턴
                }
            }
        }

        function register_comments() {
            /*<![CDATA[*/
            let commentContents = document.getElementById('validationCustom03').value;

            if (commentContents == "") {
                alert("작성하실 댓글을 입력하세요");
                history.back();
            } else if (commentContents.length > 500) {
                alert("댓글의 길이가 500자를 초과합니다");
                history.back();
            } else {
                /*<![CDATA[*/
                let number = [[${post.getPostNumber()}]];
                /*]]*/

                var data = {
                    "post_number": number,
                    "users_email": getCookie('users'),
                    "comment": commentContents
                };

                let stringify = JSON.stringify(data);

                var request = new XMLHttpRequest();
                request.open("POST", "/register_comments");
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-Type", "application/json");
                request.send(stringify);


                /*
                        fetch('/register_comments', {
                          method: 'POST',
                          headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                          },
                          body: stringify
                        })
                                .then(response => response.json())
                                .then(response => console.log(JSON.stringify(response)))*/
            }
        }

        /*<![CDATA[*/
        $(document).ready(function () {
            let checked = [[${checked}]];

            if (checked == 'likeChecked') {
                $('#post_likeButton').css('background-position', '-24px');
                $('#post_disLikeButton').css('pointer-events', 'none');
            } else if (checked == 'dislikeChecked') {
                $('#post_disLikeButton').css('background-position', '-72px');
                $('#post_likeButton').css('pointer-events', 'none');
            } else if (checked == 'noneChecked') {
                $('#post_likeButton').css('pointer-events', 'auto');
                $('#post_disLikeButton').css('pointer-events', 'auto');
            } else {
                $('#post_likeButton').css('pointer-events', 'none');
                $('#post_disLikeButton').css('pointer-events', 'none');
            }


            return;
        });

        /*]]>*/

        function deletePost() {
            let email = getCookie('users')?.valueOf();

            /*<![CDATA[*/
            let postedUserEmail = [[${post.getUsers().getEmail()}]];
            let postNumber = [[${post.getPostNumber()}]];
            /*]]*/

            var dataMap = {
                id: postNumber,
                postedUserEmail: postedUserEmail
            }

            if (email != null) {
                if (email == postedUserEmail) {
                    $.ajax({
                        url: "/find_post/deletePost",
                        type: 'POST',
                        async: true,
                        data: JSON.stringify(dataMap),
                        contentType: "application/json",
                        dataType: 'html',
                        success: function (response) {
                            window.location.href = "/find_post/deletePost/alert?string=게시글이 삭제 되었습니다";
                        },
                        error: function (xhr) {
                            console.log(xhr.responseText);
                        }
                    });
                }
            }
        }
    </script>

    <script th:inline="javascript">
        function modifyPost() {
            let email = getCookie('users')?.valueOf();
            let postedUser = [[${post.getUsers().getEmail()}]];
            if (email != null) {
                let equals = email == postedUser;
                if (equals) { // 로그인 한 ID(Cookie('users'))와 PostedUser.getEmail()가 같으면 서버의 API 호출, 다르면 안함
                    var dataMap = {
                        id: [[${post.getPostNumber()}]],
                        userEmail: [[${post.getUsers().getEmail()}]]
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/moveToModifyingPage',
                        data: JSON.stringify(dataMap),
                        contentType: 'application/json'
                    })
                        .done(function (data, textStatus, jqXHR) {
                            if (jqXHR.status === 200) {
                                window.location.href = '/modifyingPage?id=' + data.value;
                            } else if (jqXHR.status === 400) {
                                window.location.href = '/alert?string=' + data.value;
                            }
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            console.error(errorThrown);
                        });
                }
            }
        }

        // 현재 로그인된 아이디가 댓글에 좋아요/싫어요 체크 여부로 CSS 수정하는 메서드
        /*<![CDATA[*/
        // $(document).ready(function (commentNumber, isLike) {
        //     let loginedID = getCookie('users')?.valueOf();
        //
        //
        //     if (loginedID.valueOf()) {
        //         if (checked == 'likeChecked') {
        //             $('#post_likeButton').css('background-position', '-24px');
        //             $('#post_disLikeButton').css('pointer-events', 'none');
        //         } else if (checked == 'dislikeChecked') {
        //             $('#post_disLikeButton').css('background-position', '-72px');
        //             $('#post_likeButton').css('pointer-events', 'none');
        //         } else if (checked == 'noneChecked') {
        //             $('#post_likeButton').css('pointer-events', 'auto');
        //             $('#post_disLikeButton').css('pointer-events', 'auto');
        //         } else {
        //             $('#post_likeButton').css('pointer-events', 'none');
        //             $('#post_disLikeButton').css('pointer-events', 'none');
        //         }
        //         return;
        //     }
        // });

        /*]]>*/
    </script>
</head>
<body>
<nav class="navbar bg-light fixed-top" id="navbar_custom">
    <div class="container-fluid" id="container-fluid_custom">
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/6815/6815258.png" alt="Bootstrap" width="30" height="24">
        </a>
        <a class="navbar-brand" href="http://localhost:8080/">Main Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">설정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/mypoint">마이포인트</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8029933307212021"-->
<!--        crossorigin="anonymous"></script>-->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block; text-align:center;"-->
<!--     data-ad-layout="in-article"-->
<!--     data-ad-format="fluid"-->
<!--     data-ad-client="ca-pub-8029933307212021"-->
<!--     data-ad-slot="9083479024"></ins>-->
<!--<script>-->
<!--    (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->

<!-- post.css-->
<div class="post_background_wrapper">
    <!--    <div class="post_background2"></div>-->
    <div class="post_background">
        <div class="post_profile_info" id="postTitle" th:text="${post.getPostTitle()}"></div>
        <div class="post_profile_info">
            <div class="post_profile_left">
                <div class="post_profile_photo"></div>
                <div class="post_profile_wrapper">
                    <div class="post_profile_name" th:text="${post.getUsers().getEmail()}">작성자 :</div>
                    <div class="post_profile_time"
                         th:text="${@mainpageController.getTimeDiffAndReturnElapsedTime(post.getDates().getUploadedTime(),time)}">
                        작성 시간 :
                    </div>
                </div>
            </div>
            <div class="cash_wrapper">
                <div class="cash">500 Point</div>
                <div class="cash_emoji">&#x1F4B0;</div>
            </div>
        </div>
        <div class="post_content">
            <!--<div class = "post_content_text" th:text="${post.getPostContent()}">-->
            <div class="post_content_text" th:text="${post.getPostContent()}">
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
            </div>
            <div th:each="path : ${post.getImages()}">
                <img th:src="|${path.getFilePath()}|" alt="" class=post_content_img>
            </div>
        </div>
    </div>
</div>

<!-- post2.css-->
<hr class="hr1_class">

<div class="lidiAndDeleteModifyWrapper">
    <div class="lidiWrapWrapper">
        <div class="lidiWrap">
            <img class="likeButton" id="post_likeButton" onclick="buttonFunc('like')">
            <div class="likeCount" id="post_likeCount" th:text="${post.getPostLikeAndDislikeDto().getLikedUser().size()}">123</div>
            <img class="disLikeButton" id="post_disLikeButton" onclick="buttonFunc('dislike')">
            <div class="disLikeCount" id="post_disLikeCount" th:text="${post.getPostLikeAndDislikeDto().getDisLikedUser().size()}">123</div>
        </div>
    </div>


    <div class="deleteButtonWrapper">
        <button type="button" class="btn btn-warning" id="button_custom1" th:onclick="modifyPost()">게시글 수정</button>
        <button type="button" class="btn btn-danger" id="button_custom2" th:onclick="deletePost()">게시글 삭제</button>
    </div>
</div>

<script th:inline="javascript">
    function buttonFunc(param1) {
        let attr = $('#post_likeButton').css('background-position');
        let attr1 = $('#post_disLikeButton').css('background-position');

        /*<![CDATA[*/
        let number = [[${post.getPostNumber()}]];
        /*]]*/

        let addNumber = 0;
        let className;

        if (param1 == 'like') {
            className = '#post_likeCount';

            if (attr == '0% 0%') {
                $('#post_likeButton').css('background-position', '-24px');
                $('#post_disLikeButton').css('pointer-events', 'none');
                addNumber = 1;
            } else {
                $('#post_likeButton').css('background-position', '0% 0%');
                $('#post_disLikeButton').css('pointer-events', 'auto');
                addNumber = -1;
            }
        } else if (param1 == 'dislike') {
            className = '#post_disLikeCount';
            if (attr1 == '-48px 50%') {
                $('#post_disLikeButton').css('background-position', '-72px');
                $('#post_likeButton').css('pointer-events', 'none');
                addNumber = 1;
            } else {
                $('#post_disLikeButton').css('background-position', '-48px 50%');
                $('#post_likeButton').css('pointer-events', 'auto');
                addNumber = -1;
            }
        }

        var dataMap = {
            type: param1,
            figure: addNumber,
            id: number
        }

        let ajax = $.ajax({
            url: "/find_post/likeAndDisLike",
            type: 'POST',
            dataType: "json",
            timeout: 3000,
            async: false,
            data: JSON.stringify(dataMap),
            contentType: "application/json",

            success: function (resp) {
                if (resp == "not_logined") {
                    let ajax = $.ajax({
                        url: "/alert?string=" + '로그인 되지 않았습니다',
                        type: 'GET',
                        async: false,
                    });
                } else {
                    $(className).text(resp);
                }
            }
        });
    }

    function commentLidiButton(param1, param2, param3) {
        let attr = $('#comment_likeButton' + param3).css('background-position');
        let attr1 = $('#comment_disLikeButton' + param3).css('background-position');

        /*<![CDATA[*/
        let number = [[${post.getPostNumber()}]];
        /*]]*/

        let addNumber = 0;
        let className;

        if (param1 == 'like') {
            className = '#comment_likeCount';

            if (attr == '0% 0%') {
                $('#comment_likeButton' + param3).css('background-position', '-24px');
                $('#comment_disLikeButton' + param3).css('pointer-events', 'none');
                addNumber = 1;
            } else {
                $('#comment_likeButton' + param3).css('background-position', '0% 0%');
                $('#comment_disLikeButton' + param3).css('pointer-events', 'auto');
                addNumber = -1;
            }
        } else if (param1 == 'dislike') {
            className = '#comment_disLikeCount';
            if (attr1 == '-48px 50%') {
                $('#comment_disLikeButton' + param3).css('background-position', '-72px');
                $('#comment_likeButton' + param3).css('pointer-events', 'none');
                addNumber = 1;
            } else {
                $('#comment_disLikeButton' + param3).css('background-position', '-48px 50%');
                $('#comment_likeButton' + param3).css('pointer-events', 'auto');
                addNumber = -1;
            }
        }

        var dataMap = {
            type: param1,
            id: number,
            commentNumber: param2
        }

        let ajax = $.ajax({
            url: "/find_post/commentLikeAndDisLike",
            type: 'POST',
            dataType: "json",
            timeout: 3000,
            async: false,
            data: JSON.stringify(dataMap),
            contentType: "application/json",

            success: function (resp) {
                if (resp == "not_logined") {
                    let ajax = $.ajax({
                        url: "/alert?string=" + '로그인 되지 않았습니다',
                        type: 'GET',
                        async: false,
                    });
                } else {
                    $(className + param3).text(resp);
                }
            }
        });
    }
</script>

<style>
    textarea.autosize {
        min-height: 10px;
        width: 80%;
    }
</style>
<script>
    function resize(obj) {
        obj.style.height = "1px";
        obj.style.height = (12 + obj.scrollHeight) + "px";
    }
</script>

<div class="reply_head">
    <form method="post" name="postForm" class="addComments">
        <h5 id="h5_style">댓글 목록</h5>
        <textarea class="autosize" id="validationCustom03" rows="1" onkeydown="resize(this)" onkeyup="resize(this)"
                  placeholder="댓글 추가..."></textarea>
        <button type="button" class="btn btn-success" onclick="register_comments()">작성</button>
    </form>
</div>


<script th:inline="javascript">
    function openAndCloseAddBigCommentsWrapper(param1) {
        let elementById = document.getElementById('addBigCommentsWrapper' + param1);

        if (elementById.style.display == 'block') {
            document.getElementById('addBigCommentsWrapper' + param1).style.display = 'none';
        } else {
            document.getElementById('addBigCommentsWrapper' + param1).style.display = 'block';
        }
        console.log('addBigCommentsWrapper' + param1);
    }

    function openAndCloseBigCommentsListWrapper(param1) {
        let bigCommentsListWrapper = document.getElementById('bigCommentsWrapper' + param1);
        let upDownArrow = document.getElementById('comment_BigCommentsSymbol' + param1);


        if (upDownArrow.style != 'none') {
            if (upDownArrow.text == '&#9660;') {
                upDownArrow.innerText = '&#9650;'
                bigCommentsListWrapper.style.display = 'block';
            } else {
                upDownArrow.innerText = '&#9660;'
                bigCommentsListWrapper.style.display = 'none';
            }
        }

        else {
            alert('잘못된 요청입니다.');
        }
    }
</script>

<div class="reply_list">
    <div class="reply" th:each="value,i: ${post.getComments()}">
        <img class="reply_profile_img"
             src="https://mblogthumb-phinf.pstatic.net/MjAyMTA1MjhfMjUg/MDAxNjIyMTk3NzUyMTAz.JgBnXWFplrlgwuGvVqlosma8FFPXqfGwVApVvMeP3vQg.LRmquqydeYieBEwyF9jWhljRvcd37HQf5dMa_AXxB1Ag.JPEG.mykpoint/Screenshot%EF%BC%BF20210528%EF%BC%8D192632%EF%BC%BFSamsung_Internet.jpg?type=w800">
        <div class="reply_profile_name" th:text="${value.getPostCommentedUsersEmail()}">작성자</div>
        <div class="reply_profile_time"
             th:text="${@mainpageController.getTimeDiffAndReturnElapsedTime(value.getDates().getUploadedTime(),time)}">
            작성 시간
        </div>
        <div class="gold_medal">&#x1F947;</div>
        <div class="silver_medal">&#x1F948;</div>
        <div class="bronze_medal">&#x1F949;</div>
        <div class="reply_profile_content" th:text="${value.getPostCommentsContents()}">카리나에 대한 댓글 카리나에 대한 댓글카리나에 대한
            댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에
            대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한
            댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글
        </div>

        <div class="comment_lidiWrap">
            <img th:id="'comment_likeButton' + ${i.index}" class="comment_likeButton"
                 th:onclick="|commentLidiButton('like','${value.getCommentNumber()}','${i.index}')|">
            <div th:id="'comment_likeCount' + ${i.index}" class="comment_likeCount"
                 th:text="${value.getPostLikeAndDislike().getLikedUser().size()}">
            </div>
            <img th:id="'comment_disLikeButton' + ${i.index}" class="comment_disLikeButton"
                 th:onclick="|commentLidiButton('dislike','${value.getCommentNumber()}','${i.index}')|">
            <div th:id="'comment_disLikeCount' + ${i.index}" class="comment_disLikeCount"
                 th:text="${value.getPostLikeAndDislike().getDisLikedUser().size()}">
            </div>
            <span th:onclick="|openAndCloseAddBigCommentsWrapper(${i.index})|"
                  th:id="'comment_addBigCommentsButton' + ${i.index}" class="comment_addBigCommentsButton">답글</span>
            <span class="comment_ReportButton">신고</span>
        </div>

        <div class="addBigCommentsWrapper" th:id="'addBigCommentsWrapper' + ${i.index}" style="display: none">
            <img class="reply_profile_img" id="bigCommentsProfileImg"
                 src="https://mblogthumb-phinf.pstatic.net/MjAyMTA1MjhfMjUg/MDAxNjIyMTk3NzUyMTAz.JgBnXWFplrlgwuGvVqlosma8FFPXqfGwVApVvMeP3vQg.LRmquqydeYieBEwyF9jWhljRvcd37HQf5dMa_AXxB1Ag.JPEG.mykpoint/Screenshot%EF%BC%BF20210528%EF%BC%8D192632%EF%BC%BFSamsung_Internet.jpg?type=w800">
            <textarea id="validationCustom04" class="autosize" rows="1" onkeydown="resize(this)" onkeyup="resize(this)"
                      placeholder="댓글 추가..."></textarea>
            <button class="btn btn-success" type="button" id="bigCommentsRegisterButton">작성</button>
        </div>
        <span th:id="'comment_BigCommentsSymbol' + ${i.index}"
              th:if="${value.getBigCommentsList().size()}" > 0 ? text="&#9660;" : text="" style="display: none"
              th:onclick="openAndCloseBigCommentsListWrapper(${i.index})"></span>
        <span th:id="'comment_BigCommentsCount' + ${i.index}" class="comment_BigCommentsCount"
              th:if="${value.getBigCommentsList().size()}" > 0 ?
              style="display: none"
              th:onclick="openAndCloseBigCommentsListWrapper(${i.index})"> 답글 x개</span>

        <div th:id="'bigCommentsWrapper' + ${i.index}"
                class="bigCommentsWrapper" style="display: none">
            <img class="reply_profile_img"
                 src="https://mblogthumb-phinf.pstatic.net/MjAyMTA1MjhfMjUg/MDAxNjIyMTk3NzUyMTAz.JgBnXWFplrlgwuGvVqlosma8FFPXqfGwVApVvMeP3vQg.LRmquqydeYieBEwyF9jWhljRvcd37HQf5dMa_AXxB1Ag.JPEG.mykpoint/Screenshot%EF%BC%BF20210528%EF%BC%8D192632%EF%BC%BFSamsung_Internet.jpg?type=w800">
            <div class="reply_profile_name">작성자</div>
            <div class="reply_profile_time">작성 시간</div>
            <div class="reply_profile_content" id="bigCommentsProfileContent">카리나에 대한 댓글 카리나에 대한 댓글카리나에 대한
                댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한
                댓글카리나에
                대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한
                댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글카리나에 대한 댓글
            </div>
            <div class="comment_lidiWrap">
                <img class="comment_likeButton">
                <div class="comment_likeCount">123</div>
                <img class="comment_disLikeButton">
                <div class="comment_disLikeCount">123</div>
                <span class="comment_addBigComments">답글</span>
                <span class="comment_Report">신고</span>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Company name
                    </h6>
                    <p>
                        This is a side project website, and we're not generating any revenue yet.
                        Thank you for your visit. :)
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">HTML, CSS, BOOTSTRAP</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">SPRING</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">JPA</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">MYSQL</a>
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> Seoul, 129 Teheran-ro, KR</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        gurtjd97@naver.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> +82)10-2729-3646</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>