<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href= "/css/posting.css" rel = "stylesheet">
    <link href= "/css/font.css" rel= "stylesheet">
    <link rel = "stylesheet" href ="/css/sample.css">

    <script th:inline="javascript">
        function sendData() {
          // FormData 객체 생성
          var formData = new FormData();

          // 파일 업로드 인풋 요소에서 선택한 파일들 추가
          var files = document.getElementById("formFileMultiple").files;
          for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
          }

          // 나머지 필드값 추가
          formData.append("postTitle", document.getElementById("exampleFormControlInput1").value);
          formData.append("postContent", document.getElementById("exampleFormControlTextarea1").value);
          formData.append("dtype", document.getElementById("validationCustom04").value);
          formData.append("point", document.getElementById("my-number-input").value);

          // POST 요청 보내기
          fetch('/post_execute2', {
            method: 'POST',
            body: formData

          }).then(function(response) {
            if (response.redirected) {
              alert("게시글을 성공적으로 작성했습니다.");
              window.location.href = response.url;
            } else {
              alert("게시글 작성에 실패했습니다.");
              history.back();
            }
          });
        }
    </script>
  </head>

  <body>

    <nav class="navbar bg-light fixed-top" id = "navbar_custom">
      <div class="container-fluid" id = "container-fluid_custom">
          <a class="navbar-brand" href="#">
              <img src="https://cdn-icons-png.flaticon.com/512/6815/6815258.png" alt="Bootstrap" width="30" height="24">
            </a>
        <a class="navbar-brand" href="http://localhost:8080/">포인트로 캐쉬를 만들자! POTOCA 갤러리</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My Page</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">설정</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">마이페이지</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="http://localhost:8080/mypoint">마이포인트</a>
                </li>
             </ul>
          </div>
        </div>
      </div>
    </nav>
    <form method ="post" enctype="multipart/form-data">
      <div class = "posting_background">

        <div class="form-group" id = "search_condition">
          <label for="validationCustom04" class="form-label">갤러리 선택</label>
          <select class="form-select" id="validationCustom04" required name="dtype">
            <option value="regular">일반 갤러리</option>
            <option value="LEAGUEOFLEGEND">LOL 갤러리</option>
            <option value="VALORANT">VALORANT 갤러리</option>
            <option value="LOSTARK">LOSTARK 갤러리</option>
            <option value="STARCRAFT">STARCRAFT 갤러리</option>
            <option value="MAPLESTORY">MAPLESTORY 갤러리</option>
          </select>

        </div>



      <div class="form-group">
        <label for="exampleFormControlInput1" id = "title">글의 제목 입력</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle">
      </div>

      <div class="form-group">
          <label for="exampleFormControlTextarea1" id = "content">글의 내용 입력</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postContent"></textarea>
      </div>

      <div class="mb-3" id = "fileupload">
          <label for="formFileMultiple" class="form-label">업로드할 파일 선택</label>
          <input class="form-control" type="file" id="formFileMultiple" name="image" multiple >
        </div>

        <label for="my-number-input">사용 할 포인트 입력:</label>
        <input type="number" id="my-number-input" name="point" min="0">

        <button th:onclick="sendData()" class="btn btn-success">작성완료</button>
      </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Company name
          </h6>
          <p>
            This is a side project website, and we're not generating any revenue yet.
            Thank you for your visit. :)
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">HTML, CSS, BOOTSTRAP</a>
          </p>
          <p>
            <a href="#!" class="text-reset">SPRING</a>
          </p>
          <p>
            <a href="#!" class="text-reset">JPA</a>
          </p>
          <p>
            <a href="#!" class="text-reset">MYSQL</a>
          </p>
        </div>
        <!-- Grid column -->

       

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Seoul, 129 Teheran-ro, KR</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            gurtjd97@naver.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> +82)10-2729-3646</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  </body>
</html>