<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POTOCA</title>

    <link rel = "stylesheet" href ="/css/sample.css">
    <link href="/css/thumbs.css" rel="stylesheet">
    <link href="/css/TodaysPostList.css" rel="stylesheet">
    <link href="/css/base_nav.css" rel ="stylesheet">
    <link href="/css/font.css" rel = "stylesheet">
    <link href = "/css/navbar.css" rel = "stylesheet">



  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

   <nav class="navbar bg-light fixed-top" id = "container-fluid_custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://cdn-icons-png.flaticon.com/512/6815/6815258.png" alt="Bootstrap" width="30" height="24">
              </a>
          <a class="navbar-brand" href="http://localhost:8080/">포인트로 캐쉬를 만들자! POTOCA 갤러리</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel" th:text="${#strings.isEmpty(users)} ? '마이페이지를 이용하려면 로그인 해야 합니다' : ${users} + '님의 마이페이지'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">설정</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/mypoint">마이포인트</a>
                  </li>
               </ul>
            </div>
          </div>
        </div>
      </nav>





    <ul class="nav" id = "nav_custom">
        <span class = "nav_custom_inner">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/listpage">일반 갤러리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/LeagueOfLegends_listpage">LOL 갤러리</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/Valorant_listpage">VaLoRanT 갤러리</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/LostArk_listpage">LostArk 갤러리</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/StarCraft_listpage">StarCraft 갤러리</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/MapleStory_listpage">MapleStory 갤러리</a>
        </li>
        </span>
      <button th:if="${#strings.isEmpty(users)}" type="button" class="btn btn-primary" id ="login_button" onclick="location.href='http://localhost:8080/login'">로그인</button>
      <span th:unless="${#strings.isEmpty(users)}">
        <th:block th:text="${users} + '님 어서오세요!'"></th:block>
        <button type="button" class="btn btn-warning" id ="logout_button" onclick="location.href='http://localhost:8080/logout'">로그아웃</button>
      </span>
    </ul>










  <div class ="empty">
   <h2 class = "best_vote_list_banner">이달의 베스트 갤러리 게시글</h2>


   <section class = "thums">
    <div class = "thums_wrapper" >
    <div th:each="eachPost : ${best4Post}" class = "each_votes_post" th:onclick="|location.href='http://localhost:8080/find_post?id=' + ${eachPost.getPostNumber()}|">
      <img class = "post_image" th:if="${eachPost.getPhoto().isEmpty()}"  src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg">
      <img class = "post_image" th:unless="${eachPost.getPhoto().isEmpty()}" th:src="|${eachPost.getPhoto()[0].getFilePath()}|">
      <div class = "post_information">
        <h2 class = "post_title" th:text="'제목 : ' + ${eachPost.getPostTitle()}"></h2>
        <p class = "post_publisher" th:text="'작성자 : ' + ${eachPost.getPostedUser().getEmail()}"></p>
        <p class = "post_hits" th:text="'좋아요 수 : '+ ${eachPost.getLikedCount()}"></p>
        <p class = "post_hits" th:text="'작성일자 : ' + ${#temporals.format(eachPost.getDates().getUploadedTime(),'yyyy년 MM월 dd일 HH시')}"></p>
      </div>
    </div>
  </div>
   </section>
</div>
  </div>

    <section class = "Todays_Post_List">
      <div class = "Todays_Post_Background">
        <h2 class = "Todays_Post_List_Banner">오늘의 베스트 갤러리 인기글</h2>
        <table class="table" id = "practice_table" style="table-layout: fixed;">
          <thead>
          <tr onclick="location.href='http://localhost:8080/post'">
            <th scope="col" id = "table-th-1">좋아요 수</th>
            <th scope="col" id = "table-th-2">작성자</th>
            <th scope="col" id = "table-th-3">제목</th>
            <th scope="col" id = "table-th-4">게시판 명</th>
          </tr>
          </thead>
          <tbody th:each="eachPost2 : ${todays10Post}">
          <tr th:onclick="|location.href='http://localhost:8080/find_post?id=' + ${eachPost2.getPostNumber()}|">
            <th scope="row" th:text="${eachPost2.getLikedCount()}"></th>
            <td style="
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" th:text="${eachPost2.getPostedUser().getEmail()}"></td>
            <td style="
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" th:text="${eachPost2.getPostTitle()}"></td>
            <td style="
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" th:text="${eachPost2.getDtype()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Company name
              </h6>
              <p>
                This is a side project website, and we're not generating any revenue yet.
                Thank you for your visit. :)
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">HTML, CSS, BOOTSTRAP</a>
              </p>
              <p>
                <a href="#!" class="text-reset">SPRING</a>
              </p>
              <p>
                <a href="#!" class="text-reset">JPA</a>
              </p>
              <p>
                <a href="#!" class="text-reset">MYSQL</a>
              </p>
            </div>
            <!-- Grid column -->



            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> Seoul, 129 Teheran-ro, KR</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                gurtjd97@naver.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> +82)10-2729-3646</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </body>
</html>